.settings-main-content{
    width: 80%;
    margin: 80px 10%;
}

.settings-change-email{
    float: left;
    width: 100%;
    margin-top: 5%;
    position: relative;
}

.settings-change-password{
    float: left;
    width: 100%;
    margin: 2% 0;
    position: relative;
}

.settings-set-main-language{
    float: left;
    width: 100%;
    margin-bottom: 5%;
}

.settings-title{
    height: 40%;
    border-bottom: 3px solid grey;
    padding-left: 5%;
    font-size: 40px;
}

.settings-input{
    width: 460px;
    height: 96px;
    position: relative;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
}

.settings-input > input{
    width: 90%;
    height: 60%;
    position: absolute;
    top: 20%;
    font-size: 30px;
    outline: none;
    padding-left: 2%;
    border-radius: 10px;
    border: 3px solid grey;
    background-color: transparent;
    z-index: 999;
}

.settings-input > input:focus + .settings-input-text, .settings-input > input:valid + .settings-input-text{
    transform: translate(5%, -135%);
    font-size: 20px;
    height: 20%;
    color: grey;
    z-index: 1000;
}

.settings-input-text{
    height: 50%;
    background-color: #F5F5F5;
    position: absolute;
    top: 32%;
    left: 2%;
    font-size: 30px;
    color: gray;
    transition: 0.3s;
    padding-left: 2%;
    padding-right: 2%;
}

.settings-button-pl, .settings-button-en{
    height: 55px;
    float: left;
    width: 240px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 30px;
    border: 3px solid gray;
    background-color: transparent;
    cursor: pointer;
    color: gray;
}

.active-language{
    border: 3px solid #F40606;
    background-color: #FF5555;
    color: #202020;
}

.disabled-language{
    transition: 0.2s;
}

.disabled-language:hover{
    border-color: #F40606;
    color: #202020;
}

@media (max-width: 550px){
    .settings-input{
        width: 350px;
    }

    .settings-main-content{
        width: 90%;
        margin-left: 5%;
    }

    .settings-title{
        font-size: 28px;
    }

    .settings-input > input{
        font-size: 20px;
    }

    .settings-input-text{
        font-size: 20px;
        top: 40%;
    }

    .settings-button-pl, .settings-button-en{
        width: 90%;
    }

    .settings-input > input:focus + .settings-input-text, .settings-input > input:valid + .settings-input-text{
        font-size: 15px;
    }
}