.top-bar {
    background-color: #E32C2C;
    height: 5em;
    width: 100%;
}

.top-bar > p {
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 10em;
    width: 40%;
    float: right;
    display: flex;
    justify-content: center;
}

.logo > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    scale: 2;
}

.main-content {
    margin-top: 5em;
    width: 60%;
    height: 27em;
    float: left;
    align-content: center;
    display: flex;
    justify-content: center;
}

.box {
    height: 100%;
    width: 60%;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 0.1em;
}

.menu-item {
    width: 5em;
    height: 5em;
    background-color: #FFFFFF;
    padding: 0.1em;
}
