.forgot-password-content{
    width: 500px;
    height: 400px;
    margin: 300px auto 0 auto;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 2px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
}

.forgot-password-title{
    margin-top: 2%;
    width: 100%;
    height: 15%;
    font-size: 40px;
    text-align: center;
    float: left;
    font-weight: 600;
}

.forgot-password-middle-content{
    height: 60%;
    width: 80%;
    margin: 1% 10% 0 10%;
    float: left;
}

.forgot-password-email{
    display: block;
}

.forgot-password-confirm-code{
    display: none;
}

.forgot-password-confirm-new-password, .forgot-password-new-password{
    display: none;
}

.forgot-password-finished{
    display: none;
}

.forgot-password-input{
    width: 100%;
    height: 50%;
    margin-top: 5px;
    position: relative;
}

.forgot-password-email, .forgot-password-confirm-code{
    margin-top: 80px;
}

.forgot-password-input > input{
    width: 95%;
    height: 40px;
    font-size: 20px;
    outline: none;
    padding-left: 2%;
    border-radius: 10px;
    border: 3px solid grey;
    background-color: transparent;
    z-index: 9998;
    position: absolute;
}

.forgot-password-input-text{
    height: 20px;
    background-color: #D9D9D9;
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 25px;
    color: gray;
    transition: 0.3s;
    padding-left: 2%;
    padding-right: 2%;
    transition: 0.3s;
}

.forgot-password-input > input:focus + .forgot-password-input-text, .forgot-password-input > input:valid + .forgot-password-input-text {
    transform: translate(5%, -60%);
    font-size: 18px;
    height: 20%;
    color: grey;
    z-index: 9999;
    line-height: 15px;
}

.forgot-password-text-wrong-information{
    color: red;
    width: 50%;
    padding-left: 5%;
    margin-top: 15%;
    position: absolute;
    display: block;
    font-size: 15px;
}

.forgot-password-send-again{
    text-decoration: underline;
    width: 40%;
    text-align: right;
    right: 20px;
    margin-top: 15%;
    position: absolute;
    transition: 0.2s;
    cursor: pointer;
    font-size: 15px;
}

.forgot-password-send-again:hover{
    color: #FF5555;
    text-decoration: underline;
}

.forgot-password-buttons{
    width: 90%;
    height: 15%;
    margin: 0 5%;
    float: left;
}

.forgot-password-button{
    width: 24.5%;
    height: 80%;
    margin: auto 12.5%;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    border-radius: 30px;
}

.forgot-password-button-next{
    cursor: pointer;
    float: right;
    background-color: #077412;
    transition: 0.2s;
    color: #edecec;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 2px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
}

.forgot-password-button-next:hover{
    background-color: #065c0f;
    color: #fcfafa;
    box-shadow: rgba(38, 57, 77, 0.75) 0 3px 8px 2px, rgba(0, 0, 0, 0.3) 0 0 0 0, rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
}

.forgot-password-button-back{
    background-color: #F40606;
    color: #edecec;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 2px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.3) 0 -2px 0 inset;
    transition: 0.2s;
    cursor: pointer;
}

.forgot-password-button-back:hover{
    background-color: #b50404;
    color: #fcfafa;
    box-shadow: rgba(38, 57, 77, 0.75) 0 3px 8px 2px, rgba(0, 0, 0, 0.3) 0 0 0 0, rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
}

.forgot-password-back > a{
    width: 50%;
    height: 5%;
    margin: 0 25%;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    transition: 0.2s;
    float: left;
}

.forgot-password-back:hover > a{
    color: #E32C2C;
    text-decoration: underline;
}

.forgot-password-finished{
    width: 100%;
    height: 60%;
}

.forgot-password-finished > img{
    width: 100px;
    height: 100px;
    margin-left: 150px;
    margin-top: 10%;
    float: left;
}

.forgot-password-finished > a{
    width: 100%;
    float: left;
    margin-top: 10%;
    font-size: 25px;
    text-decoration: underline;
    color: #077412;
    text-align: center;
}

.forgot-password-finished > a:hover{
    text-decoration: underline;
    color: #065c0f;
}

@media (max-width: 550px){
    .forgot-password-content{
        width: 350px;
    }

    .forgot-password-back > a{
        width: 70%;
        margin-left: 15%;
        font-size: 12px;
        line-height: 35px;
    }

    .forgot-password-button{
        height: 60%;
        margin-top: 7%;
        font-size: 18px;
        line-height: 35px;
    }

    .forgot-password-title{
        font-size: 35px;
    }

    .forgot-password-email, .forgot-password-confirm-code{
        margin-top: 90px;
    }

    .forgot-password-text-wrong-information{
        top: 10px;
        font-size: 12px;
    }

    .forgot-password-send-again{
        top:10px;
    }

    .forgot-password-confirm-new-password, .forgot-password-new-password{
        margin-top: 20px;
    }

    .forgot-password-finished > img{
        margin-left: 90px;
    }

    .forgot-password-finished > a{
        margin-top: 20%;
        font-size: 20px;
    }
}

@media (max-height: 900px){
    .forgot-password-content{
        margin-top: 150px;
    }
}