.login-main-content {
    position: relative;
    background-color: #F5F5F5;
}

.login-left-content {
    float: left;
    margin-top: 150px;
    width: 50%;
    height: 60%;
}

.login-email, .login-password {
    width: 60%;
    margin: 0 20%;
    height: 35%;
    float: left;
}

.login-email > label, .login-password > label {
    width: 95%;
    height: 20%;
    font-size: 50px;
    margin: 5% 0 5% 5%;
    color: #797579;
    float: left;
    text-shadow: 0 1px #666161;
}

.login-email > input, .login-password > input {
    width: 100%;
    height: 50px;
    float: left;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 3%;
    border: 2px solid #423E3E;
    outline: none;
    transition: 0.1s;
    cursor: pointer;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.login-email > input:focus, .login-password > input:focus {
    border-color: #b51e1e;
}

.login-email > input:focus::placeholder, .login-password > input:focus::placeholder {
    color: transparent;
}


.forgot-password {
    width: 60%;
    margin: 0 58% 0 22%;
    height: 10%;
    float: left;
    cursor: pointer;
    transition: 0.1s;
}

.forgot-password> * > p{
    color: #E32C2C;
    font-size: 15px;
}

.forgot-password> * > p:hover {
    text-decoration: underline;
}

.wrong-login-informations{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #E32C2C;
    font-weight: 900;
    text-decoration: underline;
}

.login-register {
    width: 38%;
    margin: 5% 0 0 22%;
    height: 35%;
    float: left;
}

.log-in {
    margin-top: 5%;
    width: 20%;
    height: 35%;
    margin-right: 20%;
    float: right;
}

.log-in > button {
    width: 100%;
    height: 20%;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #D4D4D4;
    border: 2px solid #423E3E;
    color: #545252;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.login-register > button {
    width: 80%;
    height: 20%;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    margin-right: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: #D4D4D4;
    border: 2px solid #423E3E;
    color: #545252;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.login-register > button:hover, .log-in > button:hover {
    color: #1D1C1D;
    background-color: #b93a3a;
    border-color: #b51e1e;
}

.login-right-content {
    float: left;
    width: 50%;
    height: 70%;
    margin-top: 150px;
}

.login-right-content > img {
    margin-left: 5%;
    width: 576px;
    height: 576px;
}

@media (max-width: 1300px){
    .login-right-content > img{
        width: 400px;
        height: 400px;
        margin-left: 0;
    }

    .login-right-content{
        margin-top: 230px;
        width: 30%;
    }

    .login-left-content{
        width: 60%;
    }
}

@media (max-width: 1000px){
    .login-right-content{
        width: 30%;
        margin: 30px 35%;
    }

    .login-left-content{
        width: 80%;
        margin: 80px 10% 0 10%;
    }

    .login-right-content > img{
        width: 300px;
        height: 300px;
        margin-left: -5%;
    }

    .login-email, .login-password{
        margin-left: 15%;
        width: 70%;
    }

    .forgot-password{
        margin-left: 20%;
        width: 60%;
    }

    .login-register{
        margin-left: 17.5%;
    }

    .log-in{
        margin-right: 15%;
    }
}

@media (max-width: 750px){
    .login-email > input, .login-password > input{
        font-size: 25px;
        height: 40px;
    }

    .login-email > label, .login-password > label{
        font-size: 40px;
    }

    .login-register > button , .log-in > button{
        font-size: 20px;
    }

    .login-right-content > img{
        margin-left: -20%;
    }
}

@media (max-width: 650px){
    .login-right-content{
        width: 40%;
        margin: 30px 30%;
    }

    .login-left-content{
        width: 90%;
        margin: 80px 5% 0 5%;
    }

    .login-right-content > img{
        margin-left: 0;
        width: 250px;
        height: 250px;
    }

    .login-email, .login-password{
        margin-left: 15%;
        width: 70%;
    }

    .login-register{
        width: 45%;
    }
}

@media (max-width: 500px){
    .login-register > button , .log-in > button{
        font-size: 16px;
    }

    .login-right-content > img{
        margin-left: 5%;
        margin-top: 30px;
        width: 150px;
        height: 150px;
    }
}