.register-main-content {
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
    position: fixed;
}

.register-panel{
    width: 680px;
    height: 760px;
    margin: 80px auto;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 2px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
    transition: 0.2s;
}

.register-top-bar{
    width: 100%;
    height: 10%;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    float: left;
}

.register-progress-bar{
    width: 100%;
    height: 10%;
    float: left;
}

.register-progress-bar-item{
    width: 150px;
    height: 100%;
    border-bottom: 10px solid grey;
    float: left;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
}

.progress-bar-line{
    width: 0.2%;
    background-color: grey;
    height: 60%;
    margin-top: 3%;
    float: left;
}

.step-one{
    margin-left: 5%;
    border-bottom-color: #ff0000;
}

.register-middle-content-step-one, .register-middle-content-step-two, .register-middle-content-step-three, .register-middle-content-step-four, .register-middle-content-finished{
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-top: 10%;
    float: left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.register-middle-content-finished-img{
    width: 30%;
    height: 40%;
    margin: 10% 35%;
}

.register-middle-content-finished-text{
    margin: 5%;
    width: 90%;
    height: 30%;
    text-align: center;
}

.register-middle-content-finished-text > a{
    font-size: 40px;
    color: #077412;
}

.register-middle-content-finished-text > a:hover{
    text-decoration: underline;
    color: #065c0f;
}

.register-middle-content-finished-img > img{
    width: 100%;
    height: 100%;
}

.register-middle-content-step-one.show-step{
    display: block;
}

.register-middle-content-step-two.show-step{
    display: block;
}

.register-middle-content-step-three.show-step{
    display: block;
}

.register-middle-content-step-four.show-step{
    display: block;
}

.register-middle-content-finished.show-step{
    display: block;
}

@keyframes show-step {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes hide-step {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.register-middle-content-item{
    width: 90%;
    height: 20%;
    margin: 3% 5%;
    float: left;
    position: relative;
}

.register-middle-content-item > input, .register-middle-content-item > select{
    width: 97%;
    height: 60%;
    position: absolute;
    top: 20%;
    font-size: 30px;
    outline: none;
    padding-left: 2%;
    border-radius: 10px;
    border: 3px solid grey;
    background-color: transparent;
    z-index: 9998;
}

.register-middle-content-item > select > option{
    font-size: 20px;
}

.register-bottom-bar{
    margin-top: 1%;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    float: left;
    position: relative;
    display: block;
    user-select: none;
}

.register-input-text{
    height: 50%;
    background-color: #D9D9D9;
    position: absolute;
    top: 34%;
    left: 2%;
    font-size: 30px;
    color: gray;
    transition: 0.3s;
    padding-left: 2%;
    padding-right: 2%;
}

.register-middle-content-item > input:focus + .register-input-text, .register-middle-content-item > input:valid + .register-input-text,
.register-middle-content-item > select:focus + .register-input-text, .register-middle-content-item > select:valid + .register-input-text{
    transform: translate(5%, -120%);
    font-size: 20px;
    height: 20%;
    color: grey;
    z-index: 9999;
    line-height: 15px;
}

.register-bottom-bar-back{
    width: 19.5%;
    margin: 0 22% 0 8%;
    height: 60%;
    background-color: #F40606;
    color: #edecec;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 2px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.3) 0 -2px 0 inset;
    transition: 0.2s;
    cursor: pointer;
}

.register-bottom-bar-back:hover{
    background-color: #b50404;
    color: #fcfafa;
    box-shadow: rgba(38, 57, 77, 0.75) 0 3px 8px 2px, rgba(0, 0, 0, 0.3) 0 0 0 0, rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
}

.register-bottom-bar-next{
    cursor: pointer;
    width: 19.5%;
    margin: 0 8% 0 22%;
    height: 60%;
    background-color: #077412;
    transition: 0.2s;
    color: #edecec;
    float: right;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 2px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
}

.register-bottom-bar-next:hover{
    background-color: #065c0f;
    color: #fcfafa;
    box-shadow: rgba(38, 57, 77, 0.75) 0 3px 8px 2px, rgba(0, 0, 0, 0.3) 0 0 0 0, rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
}

.register-bottom-bar-back-to-login-page{
    width: 100%;
    height: 10%;
    margin-top: 0.5%;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: underline;
}

.register-bottom-bar-back-to-login-page:hover > a{
    color: #E32C2C;
    text-decoration: underline;
}

.register-step-four-information{
    color: #E32C2C;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.register-step-four-item{
    position: relative;
    width: 80%;
    height: 30%;
    float: left;
    margin: 5% 10%;
}

.register-checkbox{
    width: 10%;
    float: left;
}

.register-checkbox > input{
    height: 30px;
    width: 30px;
}

.register-checkbox > input:checked{
    accent-color: #E32C2C;
}

.register-step-four-item-text{
    width: 90%;
    float: left;
    font-size: 20px;
}

.required-checkbox{
    color: #E32C2C;
}

.register-input-text-wrong-information{
    position: absolute;
    top: 100%;
    color: red;
    margin-left: 5%;
}

@media (max-width: 900px){
    .register-panel{
        margin-top: 120px;
        width: 500px;
        height: 650px;
    }

    .register-progress-bar-item{
        width: 110px;
        font-size: 30px;
        line-height: 70px;
        height: 90%;
        border-bottom-width: 7px;
    }

    .register-bottom-bar-next{
        width: 25%;
        margin-left: 17%;
        font-size: 22px;
        line-height: 35px;
    }

    .register-bottom-bar-back{
        width: 25%;
        margin-right: 17%;
        font-size: 22px;
        line-height: 35px;
    }

    .register-bottom-bar-back-to-login-page {
        font-size: 18px;
        line-height: 40px;
    }

    .register-middle-content-item > input, .register-middle-content-item > select{
        font-size: 20px;
    }

    .register-input-text{
        font-size: 22px;
    }

    .register-middle-content-item > input:focus + .register-input-text, .register-middle-content-item > input:valid + .register-input-text,
    .register-middle-content-item > select:focus + .register-input-text, .register-middle-content-item > select:valid + .register-input-text{
        transform: translate(5%, -150%);
        font-size: 19px;
    }

    .progress-bar-line{
        width: 0.3%;
        top: 5%;
    }

    .register-step-four-item{
        width: 90%;
        margin-left: 5%;
    }

    .register-step-four-item-text{
        padding-left: 1%;
        width: 80%;
    }

    .register-middle-content-item > select > option{
        font-size: 15px;
    }

    .register-middle-content-finished-img > img{
        height: 80%;
    }

    .register-middle-content-finished-text > a{
        font-size: 35px;
    }
}

@media (max-width: 600px){
    .register-panel{
        width: 350px;
        height: 600px;
    }

    .register-progress-bar{
        margin-top: 5%;
    }

    .step-one{
        margin-left: 3%;
    }

    .register-progress-bar-item{
        width: 80px;
        font-size: 20px;
        height: 70%;
        line-height: 60px;
        border-bottom-width: 5px;
    }

    .progress-bar-line{
        width: 0.3%;
        top: 1%;
        height: 50%;
    }

    .register-bottom-bar-next{
        width: 25%;
        margin-left: 17%;
    }

    .register-bottom-bar-back{
        width: 25%;
        margin-right: 17%;
    }

    .register-bottom-bar-back-to-login-page {
        font-size: 18px;
        line-height: 50px;
    }

    .register-bottom-bar{
        margin-top: 0;
    }

    .register-middle-content-item > input, .register-middle-content-item > select{
        font-size: 18px;
    }

    .register-input-text{
        font-size: 18px;
        line-height: 30px;
    }

    .register-middle-content-item > input:focus + .register-input-text, .register-middle-content-item > input:valid + .register-input-text,
    .register-middle-content-item > select:focus + .register-input-text, .register-middle-content-item > select:valid + .register-input-text{
        transform: translate(5%, -150%);
        font-size: 15px;
        line-height: 20px;
    }

    .register-middle-content-step-one, .register-middle-content-step-two, .register-middle-content-step-three, .register-middle-content-step-four, .register-middle-content-finished{
        margin-top: 5%;
    }

    .register-middle-content-item > select > option{
        font-size: 12px;
    }

    .register-step-four-item-text{
        padding-left: 5%;
        font-size: 14px;
    }

    .register-middle-content-finished-img > img{
        height: 60%;
        margin-top: 40%;
    }

    .register-middle-content-finished{
        margin-top: 10%;
    }

    .register-middle-content-finished-text > a{
        font-size: 25px;
    }
}

@media (max-height: 800px){
    .register-panel{
        margin-top: 80px;
    }
}