.top-bar {
    background-color: #E32C2C;
    height: 7%;
    width: 100%;
    top: 0;
    z-index: 9998;
    position: fixed;
    border-bottom: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.30) 0 5px 13px;
}

.hamburger-menu {
    cursor: pointer;
    height: 100%;
    width: 4%;
    float: left;
}

.hamburger-menu > img {
    padding: 10%;
    width: 80%;
    height: 80%;
}

.weather {
    height: 100%;
    width: 30%;
    float: left;
    position: relative;
}

.weather-bar {
    margin: 2.5% 5%;
    height: 60%;
    width: 80%;
    background-color: #dadada;
    border: black 1px solid;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 2px 5px;
}

.weather-bar-date {
    margin: 3px;
    width: 44%;
    height: 85%;
    float: left;
    border-right: 1px solid #BAB8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-bar-date > p {
    font-size: 20px;
    margin: 2px 0 0 0;
    text-align: center;
}

.weather-bar-time {
    width: 30%;
    margin: 0;
    height: 100%;
    float: left;
    border-right: 1px solid #BAB8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-bar-time > p {
    font-size: 20px;
    margin: 2px 0 0 0;
    text-align: center;
}

.weather-bar-icon {
    width: 20%;
    height: 100%;
    float: left;
    justify-content: center;
    align-items: center;
}

.weather-bar-icon > img {
    padding: 0 25% 5% 35%;
    width: 40%;
    height: 90%;
}

.notification-bell {
    height: 100%;
    width: 4%;
    float: right;
    display: flex;
    align-items: center;
}

.notification-bell > img {
    padding: 25%;
    width: 40%;
    height: 50%;
    rotate: -30deg;
}

.user-icon {
    height: 100%;
    width: 4%;
    float: right;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon > * > img {
    padding: 20% 30% 20% 10%;
    width: 60%;
    height: 60%;
}

.on-click-menu {
    opacity: 0.96;
    z-index: 9999;
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0;
    margin-left: -25%;
    border-right: 2px solid #000000;
    background-color: #EFEFEF;
    transition: 0.5s;
}

.on-click-menu-top-bar {
    width: 100%;
    height: 10%;
}

.on-click-menu-top-bar-home-page {
    width: 25%;
    height: 100%;
    float: left;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: black;
}

.on-click-menu-top-bar-home-page > a > img, .on-click-menu-top-bar-close-menu > img {
    padding: 5% 10%;
    width: 80%;
    height: 80%;
}

.on-click-menu-top-bar-home-page > a > img:hover, .on-click-menu-top-bar-close-menu > img:hover {
    filter: invert(73%) sepia(73%) saturate(6867%) hue-rotate(332deg) brightness(111%) contrast(98%);
}

.on-click-menu-top-bar-close-menu {
    width: 25%;
    height: 100%;
    float: right;
    cursor: pointer;
    transition: 0.2s;
}

.on-click-menu-middle-content {
    height: 68%;
    width: 80%;
    margin: 5.5% 10%;
    float: left;
}

.on-click-menu-middle-content-item {
    height: 16.5%;
    width: 100%;
    float: left;
    cursor: pointer;
    transition: 0.2s;
}

.on-click-menu-middle-content-line {
    border-bottom: 1px solid grey;
}

.on-click-menu-middle-content-item:hover {
    color: #FF5555;
}

.on-click-menu-middle-content-item:hover > .on-click-menu-middle-content-item-img > img {
    filter: invert(73%) sepia(73%) saturate(6867%) hue-rotate(332deg) brightness(111%) contrast(98%);
}

.on-click-menu-middle-content-item-img {
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-click-menu-middle-content-item-img > img {
    width: 60%;
    height: 40%;
}

.on-click-menu-middle-content-item-text {
    width: 75%;
    height: 100%;
    float: left;
}

.on-click-menu-middle-content-item-text > p {
    text-align: left;
    height: 80%;
    margin-block-end: 0;
    margin-block-start: 10%;
    font-size: 40px;
}

.on-click-menu-bottom-bar {
    width: 100%;
    height: 16%;
    bottom: 0;
    float: left;
}

.on-click-menu-bottom-bar-item {
    width: 25%;
    height: 100%;
    float: left;
    transition: 0.2s;
}

.on-click-menu-bottom-bar-item > img {
    width: 50%;
    height: 30%;
    margin: 70% 25% 0 25%;
    cursor: pointer;
}

.on-click-menu-bottom-bar-item > img:hover {
    filter: invert(73%) sepia(73%) saturate(6867%) hue-rotate(332deg) brightness(111%) contrast(98%);
}